/* BITBRAIN SITE CSS */
/* -------------------------------- */

/* SITE BODY --------------------------------------------------- */

html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
html,
body,
div,
td,
input,
textarea {
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  color: #333;
  line-height: 22px;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(230, 230, 230, 1) 50%,
    rgba(60, 60, 60, 1) 100%
  );
  background-attachment: fixed;
}

div {
  text-align: left;
}
h1 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 26px;
  color: #999;
  font-weight: normal;
}
h2 {
  color: #888;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 15px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #666;
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  html,
  body,
  div,
  td,
  input,
  textarea {
    font-size: 15px;
  }
}

/* BG IMAGE ------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */

.bgfaderimage {
  position: fixed;
  left: 0px;
  top: 100px;
  width: 100%;
  height: calc(100% - 100px);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  display: none;
}

#background1 {
  z-index: 0;
}

#background2 {
  z-index: 1;
}

/* NAVIGATION ----------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
.headersection {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 130px;
  overflow: hidden;
}

.curtain {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url(../bilder/w3geomarkerweiss.svg);
  background-size: 140vh;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.headernavi {
  position: absolute;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 30px solid #ccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.navigator {
  position: absolute;
  right: 0px;
  text-align: right;
  bottom: 5px;
  display: block;
  padding-top: 0px;
}
.revealer {
  position: absolute;
  right: 0px;
  top: 58px;
  display: none;
  text-align: right;
}
.revealer i {
  margin-left: 7px;
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
}

.revealer div {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #666;
  font-size: 24px;
  font-weight: normal;
  cursor: pointer;
}
.revealer div:hover {
  color: #999;
}

.navigator a {
  display: inline-block;
  width: 190px;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #999;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  transition:
    color 0.5s,
    font-size 0.5s;
}

.navigator a:nth-child(4) {
  width: 110px;
}

.navigator a:nth-child(5) {
  width: 130px;
  margin-right: 20px;
}

.navigator a:hover {
  font-size: 28px;
  color: #666;
}
.navigator a div {
  display: none;
}

.navigator a.active {
  font-size: 28px;
  color: #000;
  cursor: default;
}
.navigator a.active div {
  background-color: #fff;
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  margin-top: 10px;
}

.headernavi img {
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 50px;
}

@media screen and (max-width: 1100px) {
  .revealer {
    display: block;
  }
  .navigator {
    padding-top: 20px;
    position: fixed;
    z-index: 101;
    left: 0px;
    width: 100%;
    top: 130px;
    height: 100%;
    background-color: #fff;
    box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.5);
    height: 1px;
    overflow: hidden;
    display: none;
  }
  .navigator a {
    text-align: left;
    display: block;
    margin: 10px;
    margin-left: 20px;
  }
}

/* CONTENT FRAME --------------------------------------------------- */
.bluespace {
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 15px;
  opacity: 0.4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.description {
  margin-top: 10px;
  padding: 10px;
  border: 1px dashed #aaa;
  font-style: italic;
}
.bottomback {
  position: fixed;
  z-index: 0;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background-position: top center;
  background-size: cover;
}

.content {
  position: relative;
  width: calc(100vw - 200px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  z-index: 5;
}

.bubble {
  position: relative;
  width: calc(100% - 80px);
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.bottom80 {
  margin-bottom: 80px;
}

@media screen and (max-width: 1020px) {
  .content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .bubble {
    width: calc(100% - 80px);
    padding: 30px;
  }
}

.content.sidespare {
  padding-right: 240px;
  width: 820px;
}
.toppad {
  min-height: calc(100% - 100px);
  padding-top: 100px;
}

/* Leistungen --------------------------------------------------- */

.lleft {
  width: calc(100% - 170px);
  float: left;
}
.limage {
  opacity: 0.5;
  width: 130px;
  float: left;
  margin-left: 40px;
}
.limage img {
  width: 130px;
}

@media screen and (max-width: 880px) {
  .lleft {
    width: calc(100% - 110px);
  }
  .limage {
    width: 80px;
    margin-left: 30px;
  }
  .limage img {
    margin-top: 40px;
    width: 70px;
  }
}
@media screen and (max-width: 480px) {
  .lleft {
    width: 100%;
  }
  .limage {
    display: none;
  }
}

.leistungen {
  height: auto;
  position: relative;
  padding-bottom: 100px;
}

.eineleistungsmall {
  display: block;
  position: relative;
  float: left;
  text-decoration: none;
  color: #333;
  width: calc(33% - 40px);
  height: 40px;
  background-color: #fff;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}
.eineleistungsmall div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 100%;
  background-color: #888;
  background-size: 40px;
  background-position: center center;
  background-repeat: no-repeat;
}

.eineleistungsmall:hover {
  border-color: #999;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  color: #000;
}
.eineleistungsmall:hover div {
  background-color: #666;
}

.eineleistungsmall span {
  display: block;
  position: absolute;
  left: 70px;
  top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.iconkreis {
  position: absolute;
  width: 120px;
  height: 120px;
  left: calc(50% - 60px);
  top: -120px;
  border: 15px solid #999;
  border-radius: 40px;
  background-color: #777;
  background-size: 90px 90px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.iberatung {
  background-image: url(../bilder/icons/weiss/beratung.png);
}
.ianwendungen {
  background-image: url(../bilder/icons/weiss/anwendungen.png);
}
.igeovisualisierung {
  background-image: url(../bilder/icons/weiss/geovisualisierung.png);
}
.ihosting {
  background-image: url(../bilder/icons/weiss/hosting.png);
}
.ikartenerstellung {
  background-image: url(../bilder/icons/weiss/kartenerstellung.png);
}
.irouting {
  background-image: url(../bilder/icons/weiss/routing.png);
}
.iback {
  background-image: url(../bilder/backwhite.png);
}

.eineleistung {
  display: block;
  position: relative;
  float: left;
  text-decoration: none;
  color: #333;
  width: calc(33% - 100px);
  height: 190px;

  background-color: #fff;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

.eineleistung:hover {
  border-color: #000;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  color: #000;
}
.eineleistung:hover h2 {
  color: #000;
}

.eineleistung:hover .iconkreis {
  border-color: #666;
  background-color: #666;
  background-size: 110px 110px;
}

.eineleistung h2 {
  font-size: 22px;
  margin-bottom: 15px;

  font-weight: bold;
  color: #888;
  margin-top: 20px;
  text-align: center;
  font-weight: normal;
}

.leistungsschnitt {
  clear: both;
  margin-bottom: 25px;
}

@media screen and (max-width: 1400px) {
  .eineleistung {
    width: calc(50% - 100px);
    height: 150px;
  }
}

@media screen and (max-width: 820px) {
  .eineleistung {
    float: none;
    clear: both;
    width: calc(100% - 60px);
    height: 150px;
    padding: 20px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .eineleistungsmall {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 660px) {
  .eineleistung {
    height: 180px;
  }
}

@media screen and (max-width: 450px) {
}

/* Team --------------------------------------------------- */
/* --------------------------------------------------------------- */
.teamimage.full {
  width: 100%;
  height: auto;
}
.teamimage.half {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  max-width: 200px;
  height: auto;
}

.teamaside {
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
}

.teamhorizontal span {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: top;
}

@media screen and (max-width: 900px) {
  .teamhorizontal span {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 660px) {
  .teamaside {
    display: block;
    margin-left: 0px;
    margin-top: 10px;
  }
}

/* Referenzen --------------------------------------------------- */
/* --------------------------------------------------------------- */

.allprojects {
  width: calc(100% + 20px);
  margin-left: -10px;
}
.oneproject {
  position: relative;
  float: left;
  width: calc(50% - 80px);
  padding: 30px;
  margin: 10px;
  margin-top: 40px;

  cursor: pointer;
  height: 200px;
  overflow: hidden;

  background-color: #fff;
  border-top-right-radius: 0px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
}
.oneproject:hover {
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.oneproject.active {
  width: calc(100% - 80px);
  height: auto;
  margin: 10px;
  margin-top: 40px;
  cursor: default;
}

.oneproject.active:hover {
  width: calc(100% - 80px);
  height: auto;
  cursor: default;
}

.oneproject div {
  font-size: 14px;
}

.oneproject div.label {
  margin-top: 8px;
  margin-bottom: 6px;
  font-weight: bold;
  display: none;
}

.oneproject div.text {
  max-width: calc(100% - 120px);
}

.oneproject.active div.text {
  max-width: 100%;
}

.oneproject.active div.label {
  display: block;
}

.reflogo {
  display: inline-block;
  height: 80px;
  width: auto;
  vertical-align: top;
}

@media screen and (max-width: 1060px) {
  .allprojects {
    width: calc(100% - 2px);
    margin-left: 2px;
  }
}
@media screen and (max-width: 960px) {
  .allprojects {
    width: 100%;
  }
  .oneproject {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: calc(100% - 100px);
  }

  .oneproject.active {
    width: calc(100% - 100px);
    height: auto;
    margin-top: 28px;
    cursor: default;
  }
  .oneproject.active:hover {
    width: calc(100% - 100px);
    cursor: default;
  }
}

.oneproject:hover .bigimg {
  opacity: 1;
}
.oneproject.active .bigimg {
  display: none;
}
.oneproject.active .whiteout {
  display: none;
}
.oneproject.active .thumbs {
  display: block;
}

.oneproject .leistungen {
  z-index: 3;
  position: absolute;
  top: 1px;
  right: 1px;
}
.oneproject .leistungen img {
  width: 30px;
  height: auto;
  margin: 2px;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.7);
}

.oneproject h2 {
  margin: 0px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.oneproject a {
  text-decoration: none;
  color: inherit;
}
.oneproject a:hover {
  text-decoration: underline;
  color: #000;
}
.oneproject ul {
  margin: 0px;
  padding-left: 15px;
  list-style-type: square;
}
.oneproject .thumbs {
  margin: 2px;
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #eee;
  cursor: pointer;
  display: none;
  background-color: #eee;
}

.oneproject .thumbs div:hover {
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  border-right: 3px solid rgba(0, 0, 0, 0.5);
  margin: 3px;
}

.oneproject .thumbs div {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 190px;
  position: relative;
  float: left;
  height: 110px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  margin: 5px;
}

@media screen and (max-width: 1400px) {
  .oneproject .thumbs div {
    width: 175px;
    height: 100px;
  }
}
@media screen and (max-width: 960px) {
  .oneproject .thumbs div {
    width: 120px;
    height: 70px;
  }
}

.whiteout {
  z-index: 1;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  ); /* Standard syntax */
}
.bigimg {
  z-index: 2;
  position: absolute;
  width: 120px;
  height: 260px;
  right: 0px;
  bottom: 0px;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;
}
.zoomout {
  z-index: 5;
  position: absolute;
  width: 150px;
  height: 150px;
  right: -75px;
  bottom: -75px;
  background-color: #999;
  transform: rotate(45deg);
  cursor: pointer;
  display: none;
}
.zoomout:hover {
  background-color: #666;
}
.zoomout i {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 10px;
  top: 55px;
  color: #fff;
  font-size: 40px;
}
.oneproject.active .zoomout {
  display: block;
}

.imageviewer {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
}
.backblur {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  filter: blur(5px);
  opacity: 0.6;
}

.currentimage {
  z-index: 5;
  background-color: #fff;
  position: absolute;
  border: 1px solid #000;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: none;
}

.imgswitch {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  display: none;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.imgswitch.next {
  background-image: url(../bilder/imgnext.png);
  width: 40px;
  height: 80px;
  top: calc(50% - 40px);
  right: 5px;
}
.imgswitch.next:hover {
  background-image: url(../bilder/imgnext_hi.png);
  opacity: 1;
}

.imgswitch.prev {
  background-image: url(../bilder/imgprev.png);
  width: 40px;
  height: 80px;
  top: calc(50% - 40px);
  left: 5px;
}
.imgswitch.prev:hover {
  background-image: url(../bilder/imgprev_hi.png);
  opacity: 1;
}

.imgswitch.close {
  background-image: url(../bilder/imgclose.png);
  width: 40px;
  height: 40px;
  top: 5px;
  right: 5px;
}
.imgswitch.close:hover {
  background-image: url(../bilder/imgclose_hi.png);
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .imgswitch.prev {
    background-size: 75%;
    width: 30px;
    height: 60px;
    top: calc(50% - 30px);
  }
  .imgswitch.next {
    background-size: 75%;
    width: 30px;
    height: 60px;
    top: calc(50% - 30px);
  }
  .imgswitch.close {
    background-size: 75%;
    width: 30px;
    height: 30px;
    top: 3px;
    right: 3px;
  }
}

.refplaceholder {
  min-height: 500px;
  overflow: hidden;
}

/* Kontakt --------------------------------------------------- */
/* --------------------------------------------------------------- */

.contactleft {
  width: calc(100% - 500px);
  display: inline-block;
  vertical-align: top;
}
.contactright {
  width: 200px;
  height: 110px;
  margin-left: 20px;
  background-color: #999;
  display: inline-block;
  padding: 20px;
  padding-top: 40px;
  line-height: 30px;
  vertical-align: top;
}

.contactright img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.contactright a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.mailform {
  width: calc(100% - 290px);
  margin-top: 20px;
  display: block;
  float: left;
}
.mailform input {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  text-indent: 5px;
  margin-bottom: 8px;
}
.mailform textarea {
  display: block;
  width: calc(100% - 4px);
  border: 1px solid #ddd;
  background-color: #fff;
  text-indent: 5px;
  margin-bottom: 8px;
  resize: none;
}
.mailform div {
  display: block;
  width: 100%;
  background-color: #666;
  color: #fff;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
}
.mailform div:hover {
  background-color: #111;
}
.impressum {
  width: 160px;
  height: 130px;
  font-size: 11px;
  margin-left: 20px;
  background-color: #eee;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}

.impressum a {
  text-decoration: none;
  color: inherit;
}
.impressum a:hover {
  text-decoration: underline;
  color: #000;
}

.textual {
  width: calc(100% - 290px);
  margin-top: 20px;
  display: block;
  float: left;
}

@media screen and (max-width: 750px) {
  .contactleft {
    width: 100%;
    float: none;
  }
  .contactright {
    width: 100%;
    float: none;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    text-align: center;
  }
  .mailform {
    width: 100%;
    float: none;
  }
  .impressum {
    width: 100%;
    float: none;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
  }
  .textual {
    width: 100%;
    float: none;
    margin: 0px;
    margin-top: 20px;
  }
}
